<app-blank pageTitle="Kategoriler" [breadCrumbs]="breadCrumbs()">    
    <app-section sectionTitle="Kategori Listesi">
        <flexi-grid
          [data]="datas()"
          [showCaption]="true"
          captionTitle="Kategoriler"
          [showIndex]="true"
          [sortable]="true"
          [filterable]="true"
          [pageable]="true"
          [loading]="isLoading()"
          [captionTemplate]="captionTemplate"
          [showColumnVisibility]="false"
          >
            <ng-template #captionTemplate>
                <button
                  class="btn btn-primary"
                  title="Kategori Ekle"
                  data-bs-toggle="modal"
                  data-bs-target="#addModal"
                  >
                    <i class="fa-solid fa-add"></i>
                </button>
            </ng-template>
            <flexi-grid-column field="id" title="Id" width="40%"></flexi-grid-column>
            <flexi-grid-column field="name" title="Kategori" width="30%"></flexi-grid-column>
            <flexi-grid-column field="isActive" title="Aktif Mi?" width="15%" [filterable]="false"
                [columnTemplate]="isActiveColumnTemplate" textAlign="center">
                <ng-template #isActiveColumnTemplate let-item="item">
                    @if(item.isActive){
                    <span class="my-alert alert-success">Aktif</span>
                    }@else {
                    <span class="my-alert alert-danger">Pasif</span>
                    }
                </ng-template>
            </flexi-grid-column>
            <flexi-grid-column [columnTemplate]="operationsColumnTemplate" title="İşlemler" width="15%"
                textAlign="center">
                <ng-template #operationsColumnTemplate let-item="item">
                    <button
                      class="btn btn-primary btn-sm me-1"
                      title="Güncelle"
                      data-bs-toggle="modal"
                      data-bs-target="#updateModal"
                      (click)="get(item)"
                      >
                        <i class="fa-solid fa-edit"></i>
                    </button>
                    <button (click)="deleteById(item.id)" class="btn btn-danger btn-sm" title="Sil">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </ng-template>
            </flexi-grid-column>
        </flexi-grid>
    </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h1 class="modal-title fs-5">Kategori Ekle</h1>
                    <p>Kategori eklemek için aşağıdaki bilgileri doldurun</p>
                </div>
                <button type="button" #addModalCloseBtn class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Kategori</label>
                    <input [(ngModel)]="addModel().name" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="create()" class="btn btn-primary w-100">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h1 class="modal-title fs-5">Kategori Güncelleme</h1>
                    <p>Kategori güncellemek için aşağıdaki bilgileri doldurun</p>
                </div>
                <button type="button" #updateModalCloseBtn class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Kategori</label>
                    <input [(ngModel)]="updateModel().name" type="text" class="form-control">
                </div>
                <div class="form-check">
                    <input class="form-check-input" [(ngModel)]="updateModel().isActive" type="checkbox" value="" id="isActive">
                    <label class="form-check-label" for="isActive">
                      Aktif Mi?
                    </label>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="update()" class="btn btn-warning w-100">Güncelle</button>
            </div>
        </div>
    </div>
</div>