*{
    text-decoration: none !important;
}

.me-1{
    margin-right: 5px;
}

a{
    cursor: pointer;
}

.my-alert{
padding: 8px;   
border-radius: 8px;
}

.my-alert-title{
    border: 1px solid #ccc;
    padding: 10px;    
}

.my-alert-price{
    padding: 3px 7px;
    border-radius: 10px;
}

del{
    text-decoration: line-through !important;
}

.relative{
    position: relative;
}

.my-badge{
    vertical-align: middle;
    background-color: red;
    padding: 1px 5px;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 12px;
}

.search-i{
    position: absolute;
    top: 12px;
    left: 10px;
}

input[type="search"]{
    padding-left: 35px;
}

.modal-header{
    align-items: start !important;
}

.my-alert-danger{
    background-color: red;
    padding: 0 5px;
    color: white;
    margin-left: 2px;
}